# Importando Dataset

In [39]:
import pandas as pd

### Puxando os dados diretamente do Kaggle (sem sucesso)

In [ ]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
#import kagglehub
#from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
#file_path = "smartphone_market_2025.csv"

# Load the latest version
#df = kagglehub.load_dataset(
#  KaggleDatasetAdapter.PANDAS,
#  "shahzadi786/world-smartphone-market-2025",
#  file_path
#)

#print("First 5 records:", df.head())

## Colocando o dataframe diretamente no computador

In [41]:
df = pd.read_csv("Global_Mobile_Prices_2025_Extended.csv")

In [42]:
print(df.head())

    brand                  model  price_usd  ram_gb  storage_gb  camera_mp  \
0    Oppo                A98 111        855      16         128        108
1  Realme            11 Pro+ 843        618       6         128         64
2  Xiaomi  Redmi Note 14 Pro 461        258      16          64         64
3    Vivo               V29e 744        837       6         512         48
4   Apple  iPhone 16 Pro Max 927        335      12         128        200

   battery_mah  display_size_inch  charging_watt 5g_support       os  \
0         6000                6.6             33        Yes  Android
1         4500                6.9            100        Yes  Android
2         4000                6.8             44        Yes  Android
3         4500                6.0             65        Yes  Android
4         5000                6.9            100        Yes      iOS

        processor  rating release_month  year
0       Helio G99     3.8      February  2025
1       Tensor G4     4.4        August  2025
2         A18 Pro     4.1         March  2025
3     Exynos 2400     4.1        August  2025
4  Dimensity 9300     3.5      February  2025

# Triagem Inicial do Dataset

## 1. Informações Gerais do Dataset

### Dimensões do dataset (linhas e colunas)

In [43]:
print("Dimensões do dataset:", df.shape)
print(f"\nTotal de registros: {df.shape[0]}")
print(f"Total de colunas: {df.shape[1]}")

Dimensões do dataset: (1000, 15)

Total de registros: 1000
Total de colunas: 15

### Informações detalhadas sobre as colunas (tipos de dados, valores não-nulos)

### Informações detalhadas sobre as colunas (tipos de dados, valores não-nulos)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              1000 non-null   object
 1   model              1000 non-null   object
 2   price_usd          1000 non-null   int64
 3   ram_gb             1000 non-null   int64
 4   storage_gb         1000 non-null   int64
 5   camera_mp          1000 non-null   int64
 6   battery_mah        1000 non-null   int64
 7   display_size_inch  1000 non-null   float64
 8   charging_watt      1000 non-null   int64
 9   5g_support         1000 non-null   object
 10  os                 1000 non-null   object
 11  processor          1000 non-null   object
 12  rating             1000 non-null   float64
 13  release_month      1000 non-null   object
 14  year               1000 non-null   int64
dtypes: float64(2), int64(7), object(6)
memory usage: 117.3+ KB

### Nomes de todas as colunas

### Nomes de todas as colunas

In [45]:
print(df.columns.tolist())

['brand', 'model', 'price_usd', 'ram_gb', 'storage_gb', 'camera_mp', 'battery_mah', 'display_size_inch', 'charging_watt', '5g_support', 'os', 'processor', 'rating', 'release_month', 'year']

## 2. Análise de Valores Nulos e Duplicados

### Contagem de valores nulos por coluna

In [46]:
print(df.isnull().sum())
print(f"\n\nTotal de valores nulos no dataset: {df.isnull().sum().sum()}")

brand                0
model                0
price_usd            0
ram_gb               0
storage_gb           0
camera_mp            0
battery_mah          0
display_size_inch    0
charging_watt        0
5g_support           0
os                   0
processor            0
rating               0
release_month        0
year                 0
dtype: int64


Total de valores nulos no dataset: 0

### Percentual de valores nulos por coluna

In [47]:
print((df.isnull().sum() / len(df) * 100).round(2))

brand                0.0
model                0.0
price_usd            0.0
ram_gb               0.0
storage_gb           0.0
camera_mp            0.0
battery_mah          0.0
display_size_inch    0.0
charging_watt        0.0
5g_support           0.0
os                   0.0
processor            0.0
rating               0.0
release_month        0.0
year                 0.0
dtype: float64

### Verificar registros duplicados

In [48]:
print(f"Número de registros duplicados: {df.duplicated().sum()}")

Número de registros duplicados: 0

## 3. Estatísticas Descritivas

### Estatísticas descritivas para variáveis numéricas

In [49]:
df.describe()

,price_usd,ram_gb,storage_gb,camera_mp,battery_mah,display_size_inch,charging_watt,rating,year
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0
mean,813.478000,9.17200,402.880000,83.534000,5012.000000,6.380600,63.791000,4.229900,2025.0
std,411.708367,4.32633,349.405893,62.504958,711.591429,0.496841,36.333751,0.439965,0.0
min,101.000000,4.00000,64.000000,12.000000,4000.000000,5.500000,18.000000,3.500000,2025.0
25%,449.250000,6.00000,128.000000,48.000000,4500.000000,6.000000,33.000000,3.800000,2025.0
50%,822.000000,8.00000,256.000000,64.000000,5000.000000,6.400000,65.000000,4.200000,2025.0
75%,1166.250000,12.00000,512.000000,108.000000,5500.000000,6.800000,100.000000,4.600000,2025.0
max,1499.000000,16.00000,1024.000000,200.000000,6000.000000,7.200000,120.000000,5.000000,2025.0

### Estatísticas descritivas para variáveis categóricas

In [50]:
df.describe(include='object')

,brand,model,5g_support,os,processor,release_month
count,1000,1000,1000,1000,1000,1000
unique,9,992,2,2,8,12
top,Vivo,Galaxy S24 Ultra 700,Yes,Android,Dimensity 9300,April
freq,122,2,503,893,138,101

## 4. Tipos de Dados por Coluna

### Tipos de dados de cada coluna

In [51]:
print(df.dtypes)

brand                 object
model                 object
price_usd              int64
ram_gb                 int64
storage_gb             int64
camera_mp              int64
battery_mah            int64
display_size_inch    float64
charging_watt          int64
5g_support            object
os                    object
processor             object
rating               float64
release_month         object
year                   int64
dtype: object

### Separar colunas por tipo (numéricas e categóricas)

In [52]:
print("Colunas numéricas:")
print(df.select_dtypes(include=['int64', 'float64']).columns.tolist())
print("\nColunas categóricas/texto:")
print(df.select_dtypes(include=['object']).columns.tolist())

Colunas numéricas:
['price_usd', 'ram_gb', 'storage_gb', 'camera_mp', 'battery_mah', 'display_size_inch', 'charging_watt', 'rating', 'year']

Colunas categóricas/texto:
['brand', 'model', '5g_support', 'os', 'processor', 'release_month']

## 5. Valores Únicos e Cardinalidade

### Número de valores únicos por coluna

In [53]:
print(df.nunique())

brand                  9
model                992
price_usd            723
ram_gb                 5
storage_gb             5
camera_mp              6
battery_mah            5
display_size_inch     18
charging_watt          6
5g_support             2
os                     2
processor              8
rating                16
release_month         12
year                   1
dtype: int64

### Valores únicos das colunas categóricas principais

In [54]:
colunas_categoricas = df.select_dtypes(include=['object']).columns

for coluna in colunas_categoricas:
    print(f"\n{coluna}:")
    print(f"Valores únicos: {df[coluna].nunique()}")
    if df[coluna].nunique() <= 20:  # Mostrar apenas se tiver até 20 valores únicos
        print(f"Valores: {df[coluna].unique()}")

brand:
Valores únicos: 9
Valores: ['Oppo' 'Realme' 'Xiaomi' 'Vivo' 'Apple' 'OnePlus' 'Infinix' 'Samsung'
 'Google']

model:
Valores únicos: 992

5g_support:
Valores únicos: 2
Valores: ['Yes' 'No']

os:
Valores únicos: 2
Valores: ['Android' 'iOS']

processor:
Valores únicos: 8
Valores: ['Helio G99' 'Tensor G4' 'A18 Pro' 'Exynos 2400' 'Dimensity 9300'
 'Snapdragon 6 Gen 1' 'Snapdragon 8 Gen 3' 'Snapdragon 7+ Gen 2']

release_month:
Valores únicos: 12
Valores: ['February' 'August' 'March' 'May' 'April' 'November' 'July' 'December'
 'October' 'January' 'June' 'September']

## 6. Amostra dos Dados

### Primeiras 10 linhas do dataset

In [55]:
df.head(10)

,brand,model,price_usd,ram_gb,storage_gb,camera_mp,battery_mah,display_size_inch,charging_watt,5g_support,os,processor,rating,release_month,year
0,Oppo,A98 111,855,16,128,108,6000,6.6,33,Yes,Android,Helio G99,3.8,February,2025
1,Realme,11 Pro+ 843,618,6,128,64,4500,6.9,100,Yes,Android,Tensor G4,4.4,August,2025
2,Xiaomi,Redmi Note 14 Pro 461,258,16,64,64,4000,6.8,44,Yes,Android,A18 Pro,4.1,March,2025
3,Vivo,V29e 744,837,6,512,48,4500,6.0,65,Yes,Android,Exynos 2400,4.1,August,2025
4,Apple,iPhone 16 Pro Max 927,335,12,128,200,5000,6.9,100,Yes,iOS,Dimensity 9300,3.5,February,2025
5,OnePlus,Nord 4 295,938,16,512,200,5000,6.2,120,No,Android,Exynos 2400,3.7,May,2025
6,Infinix,GT 20 Pro 112,418,12,256,64,6000,6.9,44,No,Android,Exynos 2400,4.1,April,2025
7,Apple,iPhone 16 Pro Max 232,1447,16,64,64,4500,6.7,33,Yes,iOS,Exynos 2400,4.7,November,2025
8,Infinix,Hot 40 111,1354,6,1024,12,5500,5.7,18,Yes,Android,Tensor G4,4.0,July,2025
9,Realme,GT 7 Pro 668,311,8,1024,50,5500,6.9,44,Yes,Android,Snapdragon 6 Gen 1,4.4,March,2025

In [56]:
# Últimas 10 linhas
print("Últimas 10 linhas do dataset:")
print(df.tail(10))

Últimas 10 linhas do dataset:
       brand             model  price_usd  ram_gb  storage_gb  camera_mp  \
990   Google  Pixel Fold 2 610       1224      12          64         48
991   Realme       11 Pro+ 634        629      16        1024         12
992   Google       Pixel 8 175       1164       8         128         12
993     Oppo       Reno 11 777        178       6        1024         50
994   Realme       11 Pro+ 927        110       6         512         50
995   Google        Pixel 7a 2        961       8         256         12
996  OnePlus   OnePlus 13R 423        158      16          64         64
997   Xiaomi   Poco X6 Pro 796       1164       6         128        200
998   Realme      Narzo 70 809        895       8          64         48
999   Xiaomi   Mi 13 Ultra 429        458      16         512         64

     battery_mah  display_size_inch  charging_watt 5g_support       os  \
990         5000                6.0             33         No  Android
991         4000                6.8             65         No  Android
992         5500                5.9             44         No  Android
993         5000                6.3            120        Yes  Android
994         5500                5.7             33        Yes  Android
995         4000                5.9             44        Yes  Android
996         5500                5.6             65        Yes  Android
997         4500                5.7            120         No  Android
998         5000                7.0             65         No  Android
999         4500                5.8             18         No  Android

              processor  rating release_month  year
990  Snapdragon 8 Gen 3     4.3     September  2025
991      Dimensity 9300     4.9           May  2025
992           Tensor G4     3.8      November  2025
993             A18 Pro     4.4       January  2025
994  Snapdragon 8 Gen 3     4.1        August  2025
995           Helio G99     4.0      November  2025
996      Dimensity 9300     3.5      November  2025
997           Helio G99     4.8       January  2025
998             A18 Pro     4.6        August  2025
999             A18 Pro     3.9          July  2025

In [57]:
df.tail(10)

,brand,model,price_usd,ram_gb,storage_gb,camera_mp,battery_mah,display_size_inch,charging_watt,5g_support,os,processor,rating,release_month,year
990,Google,Pixel Fold 2 610,1224,12,64,48,5000,6.0,33,No,Android,Snapdragon 8 Gen 3,4.3,September,2025
991,Realme,11 Pro+ 634,629,16,1024,12,4000,6.8,65,No,Android,Dimensity 9300,4.9,May,2025
992,Google,Pixel 8 175,1164,8,128,12,5500,5.9,44,No,Android,Tensor G4,3.8,November,2025
993,Oppo,Reno 11 777,178,6,1024,50,5000,6.3,120,Yes,Android,A18 Pro,4.4,January,2025
994,Realme,11 Pro+ 927,110,6,512,50,5500,5.7,33,Yes,Android,Snapdragon 8 Gen 3,4.1,August,2025
995,Google,Pixel 7a 2,961,8,256,12,4000,5.9,44,Yes,Android,Helio G99,4.0,November,2025
996,OnePlus,OnePlus 13R 423,158,16,64,64,5500,5.6,65,Yes,Android,Dimensity 9300,3.5,November,2025
997,Xiaomi,Poco X6 Pro 796,1164,6,128,200,4500,5.7,120,No,Android,Helio G99,4.8,January,2025
998,Realme,Narzo 70 809,895,8,64,48,5000,7.0,65,No,Android,A18 Pro,4.6,August,2025
999,Xiaomi,Mi 13 Ultra 429,458,16,512,64,4500,5.8,18,No,Android,A18 Pro,3.9,July,2025

In [58]:
# Amostra aleatória de 10 registros
print("Amostra aleatória de 10 registros:")
print(df.sample(10))

Amostra aleatória de 10 registros:
      brand                  model  price_usd  ram_gb  storage_gb  camera_mp  \
237  Xiaomi        Poco X6 Pro 637        997       8         128        200
481   Apple          iPhone 16 388       1284       6          64         50
752   Apple      iPhone 16 Pro 772        139       4          64         50
935  Google       Pixel Fold 2 221        662      12         128         64
441    Vivo               Y200 500       1417       4         512         12
261  Realme                C65 591        738      12         128         12
78   Realme            11 Pro+ 814        814      16         256        200
39    Apple  iPhone 16 Pro Max 362        528       4         512         50
217    Oppo            F27 Pro 908        238       4        1024        108
792  Xiaomi        Poco X6 Pro 110        787      16        1024         64

     battery_mah  display_size_inch  charging_watt 5g_support       os  \
237         6000                6.0             44        Yes  Android
481         4000                5.9            100         No      iOS
752         4500                5.9            120         No      iOS
935         4500                6.6            120        Yes  Android
441         6000                6.4             44        Yes  Android
261         4500                6.4             33        Yes  Android
78          5000                6.2             65        Yes  Android
39          5500                7.2            120         No      iOS
217         5500                5.7             65         No  Android
792         4000                5.5             65        Yes  Android

               processor  rating release_month  year
237  Snapdragon 7+ Gen 2     3.8         April  2025
481   Snapdragon 6 Gen 1     4.1      November  2025
752   Snapdragon 6 Gen 1     4.0     September  2025
935       Dimensity 9300     3.9     September  2025
441       Dimensity 9300     4.8          July  2025
261   Snapdragon 8 Gen 3     4.0       October  2025
78           Exynos 2400     3.7         March  2025
39    Snapdragon 8 Gen 3     4.6       January  2025
217   Snapdragon 8 Gen 3     4.8       January  2025
792            Helio G99     3.8       January  2025

In [59]:
df.sample(10)

,brand,model,price_usd,ram_gb,storage_gb,camera_mp,battery_mah,display_size_inch,charging_watt,5g_support,os,processor,rating,release_month,year
719,OnePlus,Nord 4 794,833,12,256,108,5500,6.7,44,Yes,Android,Snapdragon 7+ Gen 2,5.0,April,2025
526,Samsung,Galaxy M55 741,729,6,128,12,5500,7.1,65,Yes,Android,Helio G99,4.9,July,2025
711,Realme,GT Neo 6 449,1334,4,128,108,4000,6.0,44,Yes,Android,Tensor G4,3.7,July,2025
763,OnePlus,Nord 4 84,450,12,128,12,4500,5.6,18,Yes,Android,A18 Pro,3.6,December,2025
260,Oppo,Reno 11 184,1478,6,1024,12,5500,6.0,120,Yes,Android,Exynos 2400,4.7,February,2025
533,Vivo,Y100A 23,1218,16,256,48,5000,6.8,65,Yes,Android,Snapdragon 6 Gen 1,3.5,April,2025
667,OnePlus,OnePlus 13 578,1283,4,64,200,5500,7.0,33,No,Android,Helio G99,4.9,February,2025
215,Infinix,Note 40 Pro 336,184,6,512,12,4500,6.9,120,Yes,Android,Snapdragon 8 Gen 3,4.5,June,2025
795,Vivo,V30 287,307,8,256,48,6000,6.7,65,No,Android,A18 Pro,4.3,November,2025
315,Oppo,Reno 11 490,682,16,128,108,5000,7.2,65,Yes,Android,Snapdragon 6 Gen 1,3.8,October,2025

### Primeiras 10 linhas do dataset

In [60]:
# Resumo completo do dataset
print("="*80)
print("RESUMO COMPLETO DO DATASET")
print("="*80)
print(f"\n📊 DIMENSÕES:")
print(f"   • Total de registros: {df.shape[0]:,}")
print(f"   • Total de colunas: {df.shape[1]}")
print(f"\n🔢 TIPOS DE DADOS:")
print(f"   • Colunas numéricas: {len(df.select_dtypes(include=['int64', 'float64']).columns)}")
print(f"   • Colunas categóricas: {len(df.select_dtypes(include=['object']).columns)}")
print(f"\n❌ VALORES NULOS:")
print(f"   • Total: {df.isnull().sum().sum():,}")
print(f"   • Percentual: {(df.isnull().sum().sum() / (df.shape[0] * df.shape[1]) * 100):.2f}%")
print(f"\n🔄 DUPLICADOS:")
print(f"   • Total de duplicados: {df.duplicated().sum()}")
print(f"\n💾 MEMÓRIA:")
print(f"   • Uso de memória: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
print("="*80)

================================================================================
RESUMO COMPLETO DO DATASET
================================================================================

📊 DIMENSÕES:
   • Total de registros: 1,000
   • Total de colunas: 15

🔢 TIPOS DE DADOS:
   • Colunas numéricas: 9
   • Colunas categóricas: 6

❌ VALORES NULOS:
   • Total: 0
   • Percentual: 0.00%

🔄 DUPLICADOS:
   • Total de duplicados: 0

💾 MEMÓRIA:
   • Uso de memória: 0.44 MB
================================================================================

In [61]:
print("="*80)
print("RESUMO COMPLETO DO DATASET")
print("="*80)
print(f"\n📊 DIMENSÕES:")
print(f"   • Total de registros: {df.shape[0]:,}")
print(f"   • Total de colunas: {df.shape[1]}")
print(f"\n🔢 TIPOS DE DADOS:")
print(f"   • Colunas numéricas: {len(df.select_dtypes(include=['int64', 'float64']).columns)}")
print(f"   • Colunas categóricas: {len(df.select_dtypes(include=['object']).columns)}")
print(f"\n❌ VALORES NULOS:")
print(f"   • Total: {df.isnull().sum().sum():,}")
print(f"   • Percentual: {(df.isnull().sum().sum() / (df.shape[0] * df.shape[1]) * 100):.2f}%")
print(f"\n🔄 DUPLICADOS:")
print(f"   • Total de duplicados: {df.duplicated().sum()}")
print(f"\n💾 MEMÓRIA:")
print(f"   • Uso de memória: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
print("="*80)

================================================================================
RESUMO COMPLETO DO DATASET
================================================================================

📊 DIMENSÕES:
   • Total de registros: 1,000
   • Total de colunas: 15

🔢 TIPOS DE DADOS:
   • Colunas numéricas: 9
   • Colunas categóricas: 6

❌ VALORES NULOS:
   • Total: 0
   • Percentual: 0.00%

🔄 DUPLICADOS:
   • Total de duplicados: 0

💾 MEMÓRIA:
   • Uso de memória: 0.44 MB
================================================================================