In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Pokemon Database.csv")

# Triagem Inicial do Dataset Pokémon

## 1. Informações Gerais do Dataset

### Visualizar primeiras linhas

In [3]:
print(df.head())

   Pokemon Id  Pokedex Number Pokemon Name  Classification  \
0           1               1  "Bulbasaur"  "Seed Pokémon"
1           2               2    "Ivysaur"  "Seed Pokémon"
2           3               3   "Venusaur"  "Seed Pokémon"
3           4               3   "Venusaur"  "Seed Pokémon"
4        1526               3   "Venusaur"  "Seed Pokémon"

  Alternate Form Name  Original Pokemon ID Legendary Type  Pokemon Height  \
0                 NaN                  NaN            NaN             0.7
1                 NaN                  NaN            NaN             1.0
2                 NaN                  NaN            NaN             2.0
3              "Mega"                  3.0            NaN             2.4
4        "Gigantamax"                  3.0            NaN            24.0

   Pokemon Weight Primary Type  ... Speed EV EV Yield Total Catch Rate  \
0             6.9      "Grass"  ...        0              1         45
1            13.0      "Grass"  ...        0              2         45
2           100.0      "Grass"  ...        0              3         45
3           155.5      "Grass"  ...        0              3         45
4             0.0      "Grass"  ...        0              3         45

  Experience Growth Experience Growth Total Primary Egg Group  \
0     "Medium Slow"                 1059860         "Monster"
1     "Medium Slow"                 1059860         "Monster"
2     "Medium Slow"                 1059860         "Monster"
3     "Medium Slow"                 1059860         "Monster"
4     "Medium Slow"                 1059860         "Monster"

  Secondary Egg Group Egg Cycle Count Pre-Evolution Pokemon Id  \
0             "Grass"              20                      NaN
1             "Grass"              20                      1.0
2             "Grass"              20                      2.0
3             "Grass"              20                      NaN
4             "Grass"              20                      NaN

   Evolution Details
0                NaN
1         "Level 16"
2         "Level 32"
3                NaN
4                NaN

[5 rows x 45 columns]

### Dimensões do dataset (linhas e colunas)

In [4]:
print("Dimensões do dataset:", df.shape)
print(f"\nTotal de registros (Pokémon): {df.shape[0]}")
print(f"Total de colunas: {df.shape[1]}")

Dimensões do dataset: (1382, 45)

Total de registros (Pokémon): 1382
Total de colunas: 45

### Informações detalhadas sobre as colunas (tipos de dados, valores não-nulos)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1382 entries, 0 to 1381
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Pokemon Id                         1382 non-null   int64
 1   Pokedex Number                     1382 non-null   int64
 2   Pokemon Name                       1382 non-null   object
 3   Classification                     1382 non-null   object
 4   Alternate Form Name                328 non-null    object
 5   Original Pokemon ID                328 non-null    float64
 6   Legendary Type                     157 non-null    object
 7   Pokemon Height                     1382 non-null   float64
 8   Pokemon Weight                     1382 non-null   float64
 9   Primary Type                       1382 non-null   object
 10  Secondary Type                     752 non-null    object
 11  Primary Ability                    1382 non-null   object
 12  Primary Ability Description        1382 non-null   object
 13  Secondary Ability                  652 non-null    object
 14  Secondary Ability Description      652 non-null    object
 15  Hidden Ability                     1044 non-null   object
 16  Hidden Ability Description         1044 non-null   object
 17  Special Event Ability              2 non-null      object
 18  Special Event Ability Description  2 non-null      object
 19  Male Ratio                         1382 non-null   float64
 20  Female Ratio                       1382 non-null   float64
 21  Base Happiness                     1382 non-null   int64
 22  Game(s) of Origin                  1382 non-null   object
 23  Health Stat                        1382 non-null   int64
 24  Attack Stat                        1382 non-null   int64
 25  Defense Stat                       1382 non-null   int64
 26  Special Attack Stat                1382 non-null   int64
 27  Special Defense Stat               1382 non-null   int64
 28  Speed Stat                         1382 non-null   int64
 29  Base Stat Total                    1382 non-null   int64
 30  Health EV                          1382 non-null   int64
 31  Attack EV                          1382 non-null   int64
 32  Defense EV                         1382 non-null   int64
 33  Special Attack EV                  1382 non-null   int64
 34  Special Defense EV                 1382 non-null   int64
 35  Speed EV                           1382 non-null   int64
 36  EV Yield Total                     1382 non-null   int64
 37  Catch Rate                         1382 non-null   int64
 38  Experience Growth                  1382 non-null   object
 39  Experience Growth Total            1382 non-null   int64
 40  Primary Egg Group                  1382 non-null   object
 41  Secondary Egg Group                347 non-null    object
 42  Egg Cycle Count                    1382 non-null   int64
 43  Pre-Evolution Pokemon Id           608 non-null    float64
 44  Evolution Details                  571 non-null    object
dtypes: float64(6), int64(20), object(19)
memory usage: 486.0+ KB

### Nomes de todas as colunas

In [6]:
print(df.columns.tolist())

['Pokemon Id', 'Pokedex Number', 'Pokemon Name', 'Classification', 'Alternate Form Name', 'Original Pokemon ID', 'Legendary Type', 'Pokemon Height', 'Pokemon Weight', 'Primary Type', 'Secondary Type', 'Primary Ability', 'Primary Ability Description', 'Secondary Ability', 'Secondary Ability Description', 'Hidden Ability', 'Hidden Ability Description', 'Special Event Ability', 'Special Event Ability Description', 'Male Ratio', 'Female Ratio', 'Base Happiness', 'Game(s) of Origin', 'Health Stat', 'Attack Stat', 'Defense Stat', 'Special Attack Stat', 'Special Defense Stat', 'Speed Stat', 'Base Stat Total', 'Health EV', 'Attack EV', 'Defense EV', 'Special Attack EV', 'Special Defense EV', 'Speed EV', 'EV Yield Total', 'Catch Rate', 'Experience Growth', 'Experience Growth Total', 'Primary Egg Group', 'Secondary Egg Group', 'Egg Cycle Count', 'Pre-Evolution Pokemon Id', 'Evolution Details']

## 2. Análise de Valores Nulos e Duplicados

### Contagem de valores nulos por coluna

In [7]:
print(df.isnull().sum())
print(f"\n\nTotal de valores nulos no dataset: {df.isnull().sum().sum()}")

Pokemon Id                              0
Pokedex Number                          0
Pokemon Name                            0
Classification                          0
Alternate Form Name                  1054
Original Pokemon ID                  1054
Legendary Type                       1225
Pokemon Height                          0
Pokemon Weight                          0
Primary Type                            0
Secondary Type                        630
Primary Ability                         0
Primary Ability Description             0
Secondary Ability                     730
Secondary Ability Description         730
Hidden Ability                        338
Hidden Ability Description            338
Special Event Ability                1380
Special Event Ability Description    1380
Male Ratio                              0
Female Ratio                            0
Base Happiness                          0
Game(s) of Origin                       0
Health Stat                             0
Attack Stat                             0
Defense Stat                            0
Special Attack Stat                     0
Special Defense Stat                    0
Speed Stat                              0
Base Stat Total                         0
Health EV                               0
Attack EV                               0
Defense EV                              0
Special Attack EV                       0
Special Defense EV                      0
Speed EV                                0
EV Yield Total                          0
Catch Rate                              0
Experience Growth                       0
Experience Growth Total                 0
Primary Egg Group                       0
Secondary Egg Group                  1035
Egg Cycle Count                         0
Pre-Evolution Pokemon Id              774
Evolution Details                     811
dtype: int64


Total de valores nulos no dataset: 11479

### Percentual de valores nulos por coluna

In [8]:
print((df.isnull().sum() / len(df) * 100).round(2))

Pokemon Id                            0.00
Pokedex Number                        0.00
Pokemon Name                          0.00
Classification                        0.00
Alternate Form Name                  76.27
Original Pokemon ID                  76.27
Legendary Type                       88.64
Pokemon Height                        0.00
Pokemon Weight                        0.00
Primary Type                          0.00
Secondary Type                       45.59
Primary Ability                       0.00
Primary Ability Description           0.00
Secondary Ability                    52.82
Secondary Ability Description        52.82
Hidden Ability                       24.46
Hidden Ability Description           24.46
Special Event Ability                99.86
Special Event Ability Description    99.86
Male Ratio                            0.00
Female Ratio                          0.00
Base Happiness                        0.00
Game(s) of Origin                     0.00
Health Stat                           0.00
Attack Stat                           0.00
Defense Stat                          0.00
Special Attack Stat                   0.00
Special Defense Stat                  0.00
Speed Stat                            0.00
Base Stat Total                       0.00
Health EV                             0.00
Attack EV                             0.00
Defense EV                            0.00
Special Attack EV                     0.00
Special Defense EV                    0.00
Speed EV                              0.00
EV Yield Total                        0.00
Catch Rate                            0.00
Experience Growth                     0.00
Experience Growth Total               0.00
Primary Egg Group                     0.00
Secondary Egg Group                  74.89
Egg Cycle Count                       0.00
Pre-Evolution Pokemon Id             56.01
Evolution Details                    58.68
dtype: float64

### Verificar registros duplicados

In [9]:
print(f"Número de registros duplicados: {df.duplicated().sum()}")

Número de registros duplicados: 3

## 3. Estatísticas Descritivas

### Estatísticas descritivas para variáveis numéricas

In [10]:
df.describe()

,Pokemon Id,Pokedex Number,Original Pokemon ID,Pokemon Height,Pokemon Weight,Male Ratio,Female Ratio,Base Happiness,Health Stat,Attack Stat,...,Attack EV,Defense EV,Special Attack EV,Special Defense EV,Speed EV,EV Yield Total,Catch Rate,Experience Growth Total,Egg Cycle Count,Pre-Evolution Pokemon Id
count,1382.000000,1382.00000,328.000000,1382.000000,1382.000000,1382.000000,1382.000000,1382.000000,1382.000000,1382.000000,...,1382.000000,1382.000000,1382.000000,1382.000000,1382.000000,1382.000000,1382.000000,1.382000e+03,1382.000000,608.000000
mean,1026.651954,506.20767,823.338415,1.988495,68.316353,44.328871,37.870839,47.272069,71.506512,80.960926,...,0.539797,0.247467,0.424747,0.225760,0.318379,1.976122,93.745297,1.059808e+06,30.864689,859.848684
std,574.699143,299.02744,521.455495,5.282591,126.529616,28.610044,26.523509,20.092395,26.480814,31.369489,...,0.931122,0.646590,0.868498,0.642206,0.704754,0.757398,75.734484,1.531328e+05,28.693386,545.418302
min,1.000000,1.00000,3.000000,0.100000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,6.000000e+05,0.000000,1.000000
25%,471.250000,229.25000,325.000000,0.500000,7.425000,25.000000,12.500000,50.000000,54.000000,58.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,45.000000,1.000000e+06,20.000000,361.500000
50%,1092.500000,514.50000,944.500000,1.000000,27.550000,50.000000,50.000000,50.000000,70.000000,79.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,60.000000,1.000000e+06,20.000000,905.500000
75%,1536.750000,761.75000,1267.000000,1.600000,69.800000,50.000000,50.000000,50.000000,85.000000,100.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,135.000000,1.250000e+06,25.000000,1319.250000
max,1886.000000,1025.00000,1875.000000,100.000000,999.900000,100.000000,100.000000,140.000000,255.000000,190.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,255.000000,1.640000e+06,120.000000,1877.000000

### Estatísticas descritivas para variáveis categóricas

In [11]:
df.describe(include='object')

,Pokemon Name,Classification,Alternate Form Name,Legendary Type,Primary Type,Secondary Type,Primary Ability,Primary Ability Description,Secondary Ability,Secondary Ability Description,Hidden Ability,Hidden Ability Description,Special Event Ability,Special Event Ability Description,Game(s) of Origin,Experience Growth,Primary Egg Group,Secondary Egg Group,Evolution Details
count,1382,1382,328,157,1382,752,1382,1382,652,652,1044,1044,2,2,1382,1382,1382,347,571
unique,1025,728,162,3,18,18,249,243,135,133,166,163,2,2,20,6,15,13,185
top,"""Unown""","""Symbol Pokémon""","""Mega""","""Sub-Legendary""","""Water""","""Flying""","""Levitate""","""By floating in the air, the Pokémon receives ...","""Compound Eyes""","""The Pokémon's compound eyes boost its accuracy.""","""Friend Guard""","""Reduces damage done to allies.""","""Battle Bond""","""When the Pokémon knocks out a target, its bon...","""Black""","""Medium Fast""","""Field""","""Dragon""","""Level 30"""
freq,28,28,44,70,159,152,69,69,24,24,27,27,1,1,166,596,317,68,29

## 4. Tipos de Dados por Coluna

### Tipos de dados de cada coluna

In [12]:
print(df.dtypes)

Pokemon Id                             int64
Pokedex Number                         int64
Pokemon Name                          object
Classification                        object
Alternate Form Name                   object
Original Pokemon ID                  float64
Legendary Type                        object
Pokemon Height                       float64
Pokemon Weight                       float64
Primary Type                          object
Secondary Type                        object
Primary Ability                       object
Primary Ability Description           object
Secondary Ability                     object
Secondary Ability Description         object
Hidden Ability                        object
Hidden Ability Description            object
Special Event Ability                 object
Special Event Ability Description     object
Male Ratio                           float64
Female Ratio                         float64
Base Happiness                         int64
Game(s) of Origin                     object
Health Stat                            int64
Attack Stat                            int64
Defense Stat                           int64
Special Attack Stat                    int64
Special Defense Stat                   int64
Speed Stat                             int64
Base Stat Total                        int64
Health EV                              int64
Attack EV                              int64
Defense EV                             int64
Special Attack EV                      int64
Special Defense EV                     int64
Speed EV                               int64
EV Yield Total                         int64
Catch Rate                             int64
Experience Growth                     object
Experience Growth Total                int64
Primary Egg Group                     object
Secondary Egg Group                   object
Egg Cycle Count                        int64
Pre-Evolution Pokemon Id             float64
Evolution Details                     object
dtype: object

### Separar colunas por tipo (numéricas e categóricas)

In [13]:
print("Colunas numéricas:")
print(df.select_dtypes(include=['int64', 'float64']).columns.tolist())
print("\nColunas categóricas/texto:")
print(df.select_dtypes(include=['object']).columns.tolist())

Colunas numéricas:
['Pokemon Id', 'Pokedex Number', 'Original Pokemon ID', 'Pokemon Height', 'Pokemon Weight', 'Male Ratio', 'Female Ratio', 'Base Happiness', 'Health Stat', 'Attack Stat', 'Defense Stat', 'Special Attack Stat', 'Special Defense Stat', 'Speed Stat', 'Base Stat Total', 'Health EV', 'Attack EV', 'Defense EV', 'Special Attack EV', 'Special Defense EV', 'Speed EV', 'EV Yield Total', 'Catch Rate', 'Experience Growth Total', 'Egg Cycle Count', 'Pre-Evolution Pokemon Id']

Colunas categóricas/texto:
['Pokemon Name', 'Classification', 'Alternate Form Name', 'Legendary Type', 'Primary Type', 'Secondary Type', 'Primary Ability', 'Primary Ability Description', 'Secondary Ability', 'Secondary Ability Description', 'Hidden Ability', 'Hidden Ability Description', 'Special Event Ability', 'Special Event Ability Description', 'Game(s) of Origin', 'Experience Growth', 'Primary Egg Group', 'Secondary Egg Group', 'Evolution Details']

## 5. Valores Únicos e Cardinalidade

### Número de valores únicos por coluna

In [14]:
print(df.nunique())

Pokemon Id                           1342
Pokedex Number                       1025
Pokemon Name                         1025
Classification                        728
Alternate Form Name                   162
Original Pokemon ID                   190
Legendary Type                          3
Pokemon Height                         84
Pokemon Weight                        522
Primary Type                           18
Secondary Type                         18
Primary Ability                       249
Primary Ability Description           243
Secondary Ability                     135
Secondary Ability Description         133
Hidden Ability                        166
Hidden Ability Description            163
Special Event Ability                   2
Special Event Ability Description       2
Male Ratio                              7
Female Ratio                            7
Base Happiness                          8
Game(s) of Origin                      20
Health Stat                           109
Attack Stat                           126
Defense Stat                          115
Special Attack Stat                   128
Special Defense Stat                  107
Speed Stat                            127
Base Stat Total                       231
Health EV                               4
Attack EV                               4
Defense EV                              4
Special Attack EV                       4
Special Defense EV                      4
Speed EV                                4
EV Yield Total                          4
Catch Rate                             41
Experience Growth                       6
Experience Growth Total                 6
Primary Egg Group                      15
Secondary Egg Group                    13
Egg Cycle Count                        12
Pre-Evolution Pokemon Id              497
Evolution Details                     185
dtype: int64

### Valores únicos das colunas categóricas principais

In [15]:
colunas_categoricas = df.select_dtypes(include=['object']).columns

for coluna in colunas_categoricas:
    print(f"\n{coluna}:")
    print(f"Valores únicos: {df[coluna].nunique()}")
    if df[coluna].nunique() <= 20:  # Mostrar apenas se tiver até 20 valores únicos
        print(f"Valores: {df[coluna].unique()}")

Pokemon Name:
Valores únicos: 1025

Classification:
Valores únicos: 728

Alternate Form Name:
Valores únicos: 162

Legendary Type:
Valores únicos: 3
Valores: [nan '"Sub-Legendary"' '"Legendary"' '"Mythical"']

Primary Type:
Valores únicos: 18
Valores: ['"Grass"' '"Fire"' '"Water"' '"Bug"' '"Normal"' '"Dark"' '"Poison"'
 '"Electric"' '"Ground"' '"Ice"' '"Fairy"' '"Steel"' '"Fighting"'
 '"Psychic"' '"Rock"' '"Ghost"' '"Dragon"' '"Flying"']

Secondary Type:
Valores únicos: 18
Valores: ['"Poison"' nan '"Flying"' '"Dragon"' '"Normal"' '"Psychic"' '"Steel"'
 '"Ground"' '"Fairy"' '"Grass"' '"Rock"' '"Fighting"' '"Electric"' '"Ice"'
 '"Dark"' '"Fire"' '"Water"' '"Ghost"' '"Bug"']

Primary Ability:
Valores únicos: 249

Primary Ability Description:
Valores únicos: 243

Secondary Ability:
Valores únicos: 135

Secondary Ability Description:
Valores únicos: 133

Hidden Ability:
Valores únicos: 166

Hidden Ability Description:
Valores únicos: 163

Special Event Ability:
Valores únicos: 2
Valores: [nan '"Battle Bond"' '"Own Tempo"']

Special Event Ability Description:
Valores únicos: 2
Valores: [nan
 '"When the Pokémon knocks out a target, its bond with its Trainer is strengthened, and its Attack, Sp. Atk, and Speed stats are boosted."'
 '"This Pokémon has its own tempo, and that prevents it from becoming confused."']

Game(s) of Origin:
Valores únicos: 20
Valores: ['"Red"' '"X"' '"Sword"' '"Omega Ruby"' '"Sun"' '"Let\'s Go Pikachu"'
 '"Legends Arceus"' '"Scarlet"' '"Gold"' '"Ruby"' '"Fire Red"'
 '"Leaf Green"' '"Emerald"' '"Diamond"' '"Platinum"' '"Black"' '"Black 2"'
 '"Ultra Sun"' '"Pokémon GO"' '"Violet"']

Experience Growth:
Valores únicos: 6
Valores: ['"Medium Slow"' '"Medium Fast"' '"Fast"' '"Slow"' '"Fluctuating"'
 '"Erratic"']

Primary Egg Group:
Valores únicos: 15
Valores: ['"Monster"' '"Bug"' '"Flying"' '"Field"' '"No Eggs Discovered"' '"Fairy"'
 '"Grass"' '"Water 1"' '"Human-Like"' '"Water 3"' '"Mineral"'
 '"Amorphous"' '"Water 2"' '"Ditto"' '"Dragon"']

Secondary Egg Group:
Valores únicos: 13
Valores: ['"Grass"' '"Dragon"' '"Water 1"' nan '"Fairy"' '"Field"' '"Water 3"'
 '"Water 2"' '"Flying"' '"Amorphous"' '"Bug"' '"Human-Like"' '"Mineral"'
 '"Monster"']

Evolution Details:
Valores únicos: 185

## 6. Amostra dos Dados

### Primeiras 10 linhas do dataset

In [16]:
df.head(10)

,Pokemon Id,Pokedex Number,Pokemon Name,Classification,Alternate Form Name,Original Pokemon ID,Legendary Type,Pokemon Height,Pokemon Weight,Primary Type,...,Speed EV,EV Yield Total,Catch Rate,Experience Growth,Experience Growth Total,Primary Egg Group,Secondary Egg Group,Egg Cycle Count,Pre-Evolution Pokemon Id,Evolution Details
0,1,1,"""Bulbasaur""","""Seed Pokémon""",NaN,NaN,NaN,0.7,6.9,"""Grass""",...,0,1,45,"""Medium Slow""",1059860,"""Monster""","""Grass""",20,NaN,NaN
1,2,2,"""Ivysaur""","""Seed Pokémon""",NaN,NaN,NaN,1.0,13.0,"""Grass""",...,0,2,45,"""Medium Slow""",1059860,"""Monster""","""Grass""",20,1.0,"""Level 16"""
2,3,3,"""Venusaur""","""Seed Pokémon""",NaN,NaN,NaN,2.0,100.0,"""Grass""",...,0,3,45,"""Medium Slow""",1059860,"""Monster""","""Grass""",20,2.0,"""Level 32"""
3,4,3,"""Venusaur""","""Seed Pokémon""","""Mega""",3.0,NaN,2.4,155.5,"""Grass""",...,0,3,45,"""Medium Slow""",1059860,"""Monster""","""Grass""",20,NaN,NaN
4,1526,3,"""Venusaur""","""Seed Pokémon""","""Gigantamax""",3.0,NaN,24.0,0.0,"""Grass""",...,0,3,45,"""Medium Slow""",1059860,"""Monster""","""Grass""",20,NaN,NaN
5,5,4,"""Charmander""","""Lizard Pokémon""",NaN,NaN,NaN,0.6,8.5,"""Fire""",...,1,1,45,"""Medium Slow""",1059860,"""Monster""","""Dragon""",20,NaN,NaN
6,6,5,"""Charmeleon""","""Flame Pokémon""",NaN,NaN,NaN,1.1,19.0,"""Fire""",...,1,2,45,"""Medium Slow""",1059860,"""Monster""","""Dragon""",20,5.0,"""Level 16"""
7,7,6,"""Charizard""","""Flame Pokémon""",NaN,NaN,NaN,1.7,90.5,"""Fire""",...,0,3,45,"""Medium Slow""",1059860,"""Monster""","""Dragon""",20,6.0,"""Level 36"""
8,8,6,"""Charizard""","""Flame Pokémon""","""Mega X""",7.0,NaN,1.7,110.5,"""Fire""",...,0,3,45,"""Medium Slow""",1059860,"""Monster""","""Dragon""",20,NaN,NaN
9,9,6,"""Charizard""","""Flame Pokémon""","""Mega Y""",7.0,NaN,1.7,100.5,"""Fire""",...,0,3,45,"""Medium Slow""",1059860,"""Monster""","""Dragon""",20,NaN,NaN

### Últimas 10 linhas do dataset

In [17]:
df.tail(10)

,Pokemon Id,Pokedex Number,Pokemon Name,Classification,Alternate Form Name,Original Pokemon ID,Legendary Type,Pokemon Height,Pokemon Weight,Primary Type,...,Speed EV,EV Yield Total,Catch Rate,Experience Growth,Experience Growth Total,Primary Egg Group,Secondary Egg Group,Egg Cycle Count,Pre-Evolution Pokemon Id,Evolution Details
1372,1871,1018,"""Archaludon""","""Alloy Pokémon""",NaN,NaN,NaN,2.0,60.0,"""Steel""",...,0,3,10,"""Medium Fast""",1000000,"""Mineral""","""Dragon""",30,1424.0,"""Metal Alloy"""
1373,1883,1019,"""Hydrapple""","""Apple Hydra Pokémon""",NaN,NaN,NaN,1.8,93.0,"""Grass""",...,0,3,10,"""Erratic""",600000,"""Grass""","""Dragon""",20,1870.0,"""Knowing Dragon Cheer"""
1374,1885,1020,"""Gouging Fire""","""Paradox Pokémon""",NaN,NaN,NaN,3.5,590.0,"""Fire""",...,0,3,10,"""Slow""",1250000,"""No Eggs Discovered""",NaN,50,NaN,NaN
1375,1872,1021,"""Raging Bolt""","""Paradox Pokémon""",NaN,NaN,NaN,5.2,480.0,"""Electric""",...,0,3,10,"""Slow""",1250000,"""No Eggs Discovered""",NaN,50,NaN,NaN
1376,1886,1022,"""Iron Boulder""","""Paradox Pokémon""",NaN,NaN,NaN,1.5,162.5,"""Rock""",...,3,3,10,"""Slow""",1250000,"""No Eggs Discovered""",NaN,50,NaN,NaN
1377,1873,1023,"""Iron Crown""","""Paradox Pokémon""",NaN,NaN,NaN,1.6,156.0,"""Steel""",...,0,3,10,"""Slow""",1250000,"""No Eggs Discovered""",NaN,50,NaN,NaN
1378,1882,1024,"""Terapagos""","""Tera Pokémon""","""Stellar""",1769.0,"""Legendary""",1.7,77.0,"""Normal""",...,0,3,255,"""Slow""",1250000,"""No Eggs Discovered""",NaN,0,NaN,NaN
1379,1769,1024,"""Terapagos""","""Tera Pokémon""",NaN,NaN,"""Legendary""",0.2,6.5,"""Normal""",...,0,1,255,"""Slow""",1250000,"""No Eggs Discovered""",NaN,0,NaN,NaN
1380,1770,1024,"""Terapagos""","""Tera Pokémon""","""Terastal""",1769.0,"""Legendary""",0.3,16.0,"""Normal""",...,0,4,255,"""Slow""",1250000,"""No Eggs Discovered""",NaN,0,NaN,NaN
1381,1884,1025,"""Pecharunt""","""Subjugation Pokémon""",NaN,NaN,"""Mythical""",0.3,0.3,"""Poison""",...,0,3,3,"""Slow""",1250000,"""No Eggs Discovered""",NaN,0,NaN,NaN

### Amostra aleatória de 10 registros

In [18]:
df.sample(10)

,Pokemon Id,Pokedex Number,Pokemon Name,Classification,Alternate Form Name,Original Pokemon ID,Legendary Type,Pokemon Height,Pokemon Weight,Primary Type,...,Speed EV,EV Yield Total,Catch Rate,Experience Growth,Experience Growth Total,Primary Egg Group,Secondary Egg Group,Egg Cycle Count,Pre-Evolution Pokemon Id,Evolution Details
1303,1660,960,"""Wiglett""","""Garden Eel Pokémon""",NaN,NaN,NaN,1.2,1.8,"""Water""",...,1,1,255,"""Medium Fast""",1000000,"""Water 3""",NaN,20,NaN,NaN
1025,1278,751,"""Dewpider""","""Water Bubble Pokémon""",NaN,NaN,NaN,0.3,4.0,"""Water""",...,0,1,200,"""Medium Fast""",1000000,"""Water 1""","""Bug""",15,NaN,NaN
281,1388,199,"""Slowking""","""Royal Pokémon""","""Galar""",299.0,NaN,1.8,79.5,"""Poison""",...,0,2,70,"""Medium Fast""",1000000,"""Monster""","""Water 1""",20,1366.0,"""Galarica Wreath"""
1224,1598,894,"""Regieleki""","""Electron Pokémon""",NaN,NaN,"""Sub-Legendary""",1.2,145.0,"""Electric""",...,3,3,3,"""Slow""",1250000,"""No Eggs Discovered""",NaN,120,NaN,NaN
1345,1725,998,"""Baxcalibur""","""Ice Dragon Pokémon""",NaN,NaN,NaN,2.1,210.0,"""Dragon""",...,0,3,10,"""Slow""",1250000,"""Dragon""","""Mineral""",40,1724.0,"""Level 54"""
669,829,495,"""Snivy""","""Grass Snake Pokémon""",NaN,NaN,NaN,0.6,8.1,"""Grass""",...,1,1,45,"""Medium Slow""",1059860,"""Field""","""Grass""",20,NaN,NaN
112,1287,76,"""Golem""","""Megaton Pokémon""",NaN,NaN,NaN,1.4,300.0,"""Rock""",...,0,3,45,"""Medium Slow""",1059860,"""Mineral""",NaN,15,1276.0,"""Trade Or Use Linking Cord In Legends: Arceus"""
1137,1501,840,"""Applin""","""Apple Core Pokémon""",NaN,NaN,NaN,0.2,0.5,"""Grass""",...,0,1,255,"""Erratic""",600000,"""Grass""","""Dragon""",20,NaN,NaN
993,1251,727,"""Incineroar""","""Heel Pokémon""",NaN,NaN,NaN,1.8,83.0,"""Fire""",...,0,3,45,"""Medium Slow""",1059860,"""Field""",NaN,15,1250.0,"""Level 34"""
558,608,410,"""Shieldon""","""Shield Pokémon""",NaN,NaN,NaN,0.5,57.0,"""Rock""",...,0,1,45,"""Erratic""",600000,"""Monster""",NaN,30,NaN,NaN

## 7. Resumo Completo do Dataset

In [19]:
print("="*80)
print("RESUMO COMPLETO DO DATASET POKÉMON")
print("="*80)
print(f"\n📊 DIMENSÕES:")
print(f"   • Total de Pokémon: {df.shape[0]:,}")
print(f"   • Total de colunas: {df.shape[1]}")
print(f"\n🔢 TIPOS DE DADOS:")
print(f"   • Colunas numéricas: {len(df.select_dtypes(include=['int64', 'float64']).columns)}")
print(f"   • Colunas categóricas: {len(df.select_dtypes(include=['object']).columns)}")
print(f"\n❌ VALORES NULOS:")
print(f"   • Total: {df.isnull().sum().sum():,}")
print(f"   • Percentual: {(df.isnull().sum().sum() / (df.shape[0] * df.shape[1]) * 100):.2f}%")
print(f"\n🔄 DUPLICADOS:")
print(f"   • Total de duplicados: {df.duplicated().sum()}")
print(f"\n💾 MEMÓRIA:")
print(f"   • Uso de memória: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
print("="*80)

================================================================================
RESUMO COMPLETO DO DATASET POKÉMON
================================================================================

📊 DIMENSÕES:
   • Total de Pokémon: 1,382
   • Total de colunas: 45

🔢 TIPOS DE DADOS:
   • Colunas numéricas: 26
   • Colunas categóricas: 19

❌ VALORES NULOS:
   • Total: 11,479
   • Percentual: 18.46%

🔄 DUPLICADOS:
   • Total de duplicados: 3

💾 MEMÓRIA:
   • Uso de memória: 2.01 MB
================================================================================